# Dependencies
node_modules/
backendhaven/node_modules/
frontendhaven/node_modules/

# Environment variables
.env
backendhaven/.env

# Build outputs
dist/
frontendhaven/dist/

# Logs
logs
*.log
npm-debug.log*

# Editor directories
.vscode/
.idea/
*.suo
*.sln